.vertical-lines-box{
  position: relative;
  height: 115%;
  top: -9.5vh;
  width: 100%;
}

.vertical-lines{
  //position: absolute;
  //height: 100%;
  //width: 1px;
  //top: 0;
  //z-index: 10;
  //background-color: $color-offset--darker-grey;
  //opacity: .7;
}