
.u-flex-wrapper{
  display: flex;

  @include modifier('row'){
    flex-direction: row;
  }
}

.u-display-flex{
  display: flex;
}

.u-display-flex--center-center{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.u-center-v-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
}

.u-center-text { text-align: center !important; }

.u-translateX-negative { transform: translateX(-2rem); }

.u-margin-bottom-small { margin-bottom: 1rem !important; }
.u-margin-bottom-medium {
  margin-bottom: 3rem !important;


  @include for-big-desktop-up {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;

  @include for-tablet-portrait-up {
    margin-bottom: 5rem !important;
  }

  @include for-big-desktop-up {
    margin-bottom: 9rem !important;
  }
}

.u-margin-bottom-massive {
  margin-bottom: 11rem !important;

  @include for-tablet-portrait-up {
    margin-bottom: 7rem !important;
  }

  @include for-big-desktop-up {
    margin-bottom: 14rem !important;
  }
}

.u-align-self-flex-end{
  align-self: flex-end;
}

.u-display-none{
  @include for-phone-only{
    display: none;
  }
}

.u-display-block{
  @media only screen and (min-width: 37.5em) {
    display: block;
  };
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }