@import "../abstracts/mixins";

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    height: 100vh;
    width: 100%;

    overflow: hidden;

    background-color: white;

    @include element('heading'){
        margin-bottom: 1rem;
    }
}

