@import "../abstracts/mixins";
/*
  NAVIGATION STYLES
*/

.navigation{
  position: fixed;
  z-index: 3;

  padding: 1.5rem 0rem 0rem 0rem;

  /* Landscape */
  @media screen and (orientation:landscape) {
    padding-top: 1rem !important;
  }

  @include for-tablet-portrait-up{
    padding-top: 2rem !important;
  }

  @include for-desktop-up{
    padding-top: 3.5rem !important;
  }

  width: 100%;

  @include element('content-box'){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // RESPONSIVE - PHONE
  //@include respond('phone') {
  //  padding: 3rem 5rem;
  //}

  //**NAVIGATION__LOGO-BOX STYLES**//
  @include element('logo-box'){
    cursor: pointer;
  }

  @include element('logo'){
    width: 10rem;

    @include for-tablet-portrait-up{
      width: 12rem;
    }
  }

  @include element('links-box'){
    display: none;

      @include for-desktop-up {
        display: block;
    }

    .link{
      @include text(.8rem, 100, 0%, center, 0, .1rem, inherit);
      color: $color-offset--light-grey;
      position: relative;
      transition: color .2s ease-out;

      &:after{
        position: absolute;
        bottom: -.8rem;
        right: 0;
        content: '';
        width: 0%;
        height: 1px;
        background-color: $color-offset--white;
        transition: width .3s ease-out;
      }

      &:hover:after{
        width: 100%;
        left: 0;
        right: auto;
      }

      &:hover{
        color: $color-offset--white;
      }

      @include modifier('active'){
        color: $color-offset--white;
        cursor: text;

        &:hover:after{
          width: 0 !important;
        }
      }
    }
  }

  //**NAVIGATION__LIST STYLES**//


  //**NAVIGATION__ITEM STYLES**//
  @include element('items'){
    list-style-type: none;
    cursor: pointer;
    margin-right: 2.5rem;
  }

  @include element('hamburger-box'){
    display: block;
    margin-top: -.5rem;

      @include for-desktop-up {
        display: none;
    }

    @media only screen and (max-width: 768px) and (min-width: 768px){
      margin-top: - .5rem;
    }

    padding-right: 1rem;
    .hamburger-holder{
      #hamburger-border{
        stroke: $color-offset--dark-grey;
      }

      svg{
        @media only screen and (max-width: 768px) and (min-width: 768px){
          width: 65px;
          height: 65px;
        }
        //@media only screen and (max-width: 1024px) and (min-width: 1024px){
        //  width: 67px;
        //  height: 67px;
        //}
      }

    }
  }
}